.Analysis {
  margin: 0;
  width: 100%;
  margin-left: -2.5px;
  margin-bottom: 10px;

  border: 1px solid darkgray;
  background-color: rgb(250, 250, 250);
}

.Analysis-titlediv {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding-right: 5px;

  margin-bottom: 20px;
  margin-left: 5px;
}

.Analysis-titlediv-hidden {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding-right: 5px;
}

.analysis-title {
  margin: 0;
  text-decoration: underline;
}

.analysis-field {
  display: grid;
  margin-top: -10px;
  margin-left: 5px;
  gap: 5px;
}

#add-analysis-method-button {
  width: 200px;
  background-color: rgb(7, 82, 154);
  margin-top: 30px;
  margin-left: 5px;
}

.amdiv {
  margin-left: 5px;
  margin-right: 5px;
}
