.Authors {
  width: 500px;
  height: auto;

  background-color: white;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Authors-titlecontainer {
  width: 100%;
  height: 35px;
  text-align: center;

  background-color: rgb(7, 82, 154);
}

.Authors-titlecontainer h2 {
  margin: 0;
  color: white;
}

.Authors-searchtitle {
  margin: 0;
  margin-top: 10px;
}

.Authors-searchboxcontainer {
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.searchform {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-color: darkgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  gap: 5px;
}

.searchbox {
  width: 33%;
  height: 55%;

  background-color: rgb(239, 239, 239);

  border-radius: 20px;
  border-width: 0px;
  padding: 0px 0px 0px 20px;
}

.searchbox-icon {
  border-radius: 50%;
  border-width: 0px;
  background-color: rgb(239, 239, 239);

  cursor: pointer;
}
